[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
mysqlclient = "*"
djangorestframework = "*"
drf-nested-routers = "*"
django-filter = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
django-cors-headers = "*"
django-templated-mail = "*"
redis = "*"
celery = "*"
flower = "*"
django-redis = "*"
whitenoise = "*"
pytest-django = "*"
gunicorn = "*"
dj-database-url = "*"
django-silk = "*"
model-bakery = "*"
pandas = "*"
numpy = "*"
scipy = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-watch = "*"
model-bakery = "*"
locust = "*"
django-silk = "*"
pytest-cov = "*"
pyarrow = "*"
faker = "*"
tqdm = "*"

[requires]
python_version = "3.10"
